.back
{
    background: url('../../../assets/img/w1.jpg');
    -webkit-background-size:cover;
    transition: all ls ease-in-out;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0%
}

.page{
  padding-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  
}

.buttonShadow:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0, 0, 0, 0.205);
}

.simpleText{
  font-family: DancingScript-Bold;
  font-size: 23px;
  color: antiquewhite; 
}
.transparent-background { 
  background-color: rgba(0, 0, 0, 0.3); 
}